# Telegram Bot Token (@BotFather boti orqali olinadi)
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyZ

# Majburiy obuna kanali ID-si (Masalan: -1001234567890)
# Eslatma: Bot ushbu kanalda ADMIN bo'lishi kerak!
CHANNEL_ID=-1001234567890

# Obuna bo'lish uchun kanal havolasi (t.me/kanal_username yoki taklif havolasi)
CHANNEL_URL=https://t.me/sayfullodev_channel

# Bot Admini Telegram ID-si (masalan: 5737560496)
ADMIN_ID=5737560496

